body{
    background-color:rgb(4, 0, 0);
}
h1 { 
	color: orangered; 
	margin-bottom: -5px; 
} 
p { 
	margin-bottom: -10px; 
} 
.ui { 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
} 
.row { 
	display: flex; 
} 
.cell { 
	border: none; 
	width: 80px; 
	height: 80px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-size: 24px; 
	text-align: center; 
	cursor: pointer; 
} 
.cell:active { 
	outline: none; 
} 
/* 3*3 Grid */
#b1{ 
    background-color: rgb(174, 197, 189);
	border-bottom: 1px solid gray; 
	border-right: 1px solid gray; 
} 

#b2 { 
    background-color: rgb(174, 197, 189);
	border-bottom: 1px solid gray; 
	border-right: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b3 { 
    background-color: rgb(174, 197, 189);
	border-bottom: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b4 { 
    background-color: rgb(174, 197, 189);
	border-top: 1px solid gray; 
	border-bottom: 1px solid gray; 
	border-right: 1px solid gray; 
} 
	
#b5 { 
    background-color: rgb(174, 197, 189);
	border: 1px solid gray; 
} 

#b6 { 
    background-color: rgb(174, 197, 189);
	border-top: 1px solid gray; 
	border-bottom: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b7 { 
    background-color: rgb(174, 197, 189);
	border-top: 1px solid gray; 
	border-right: 1px solid gray; 
} 

#b8 { 
    background-color: rgb(174, 197, 189);
	border-top: 1px solid gray; 
	border-right: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b9 { 
    background-color: rgb(174, 197, 189);
	border-top: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#but { 
	box-sizing: border-box; 
	padding: 15px;
    border-radius: 15px;
    border: none;
    font-weight: bolder;
    background-color: rgba(95, 158, 160, 0.55);;
    color: white;
    transition: background-color 2.5s;
    cursor: pointer;
} 
#but:hover{
    background-color: cadetblue;
    border: 2px solid cadetblue;
}

#print { 
	font-family: Verdana, 
		Geneva, Tahoma, sans-serif; 
	color: dodgerblue; 
	font-size: 20px; 
} 

#main { 
	text-align: center; 
} 

#ins { 
	color: cadetblue;
}
